<div class="bg-danger panel-body"><h4>Access Denied</h4></div>
@if (User.IsInRole("Users"))
{
    <a asp-action="GoToHomePage" asp-controller="Home" class="btn btn-primary">Go back</a>
}
else if (User.IsInRole("Admins"))
{
    <a asp-action="HomePage" asp-controller="Admin" class="btn btn-primary">Go back</a>
}
else
{ <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Go back</a>}