@{ Layout = "_LayoutUsers";}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <form action="" method="post">
                <table class="table-responsive table table-striped>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>