@{ Layout = "_Layout";}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <table class="table table-bordered table-condensed table-hover table-responsive">
                <tr>
                    <th class="col-xs-6">Movie Name</th>
                    <th class="col-xs-2">Movie Price</th>
                    <th class="col-xs-4">Duration of Rental</th>
                </tr>
                <tr>
                    <td>Insert Movie Name Here</td>
                    <td>Movie Price Here</td>
                    <td>Duration of Rental here</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <form enctype="application/x-www-form-urlencoded" action="/Home/GoToPayment" method="post">
                <input type="submit" />
            </form>
        </div>
    </div>
</div>