@{Layout = "_LayoutUsers";}
@model IEnumerable<Movie>

<div class="container-fluid">
    <div class="row panel panel-default text-center">
        <div class="col-xs-12 panel-heading">
            <h1>Welcome to the Movie Store!</h1>
        </div>
    </div>
    <table class="table table-bordered table-responsive">
        <tr>
            <th>Recent Movies</th>
            <th>Popular Movies</th>
        </tr>
        <tr>
            <td>@foreach (Movie m in Model)
            {
                <h3>@m.Title</h3>
                @m.Desc
                <h4>@m.Price.ToString("c")</h4>
            }
            </td>
            <td>Insert Popular Movies Here</td>
        </tr>
        <tr>
            
        </tr>
    </table>
</div>