@{ Layout = "_Layout";}
@model MovieStore.Models.Customer

<div class="container">
    <div class="row panel panel-default text-center">
        <div class="col-xs-12 panel-heading">
            <h1>CustomerName's<br />
            <small>Profile Page</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-bordered table-responsive table-hover">
                <tr>
                    <td class="col-xs-4">UserID</td>
                    <td class="col-xs-8">@Model.MemberID</td>
                </tr>
                <tr>
                    <td class="col-xs-4">Name</td>
                    <td class="col-xs-8">@Model.Name</td>
                </tr>
                <tr>
                    <td class="col-xs-4"></td>
                    <td class="col-xs-8"></td>
                </tr>
                <tr>
                    <td class="col-xs-4"></td>
                    <td class="col-xs-8"></td>
                </tr>
            </table>
        </div>
    </div>
</div>