@{ Layout = "_LayoutUsers";}
@model MovieStore.Models.ViewModels.ProfileModel

<div class="container">
    <link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>
    <div class="row panel panel-default text-center">
        <div class="col-xs-12 panel-heading">
            <h1>CustomerName's<br />
            <small>Profile Page</small></h1>
        </div>
    </div>
    <div class="row"> 
        <table class="table table-bordered table-responsive table-hover">
            <tr>
                <th class="col-xs-4">Name</th>
                <td class="col-xs-8">@Model.Name</td>
            </tr>
        </table>
        <form asp-action="Profile" method="put">
            <table class="table table-bordered table-responsive table-hover">
                <tr class="row">
                    <th class="col-xs-6">Movie Name</th>
                    <th class="col-xs-2">Rental Extension</th>
                    <th class="col-xs-4">Extension Price</th>
                </tr>
                @foreach (var m in Model)
                {
                    <tr>
                        <td>@Model.Rentals</td>

                    </tr>
                }
            </table>
        </form>
    </div>
</div>