@{ Layout = "_Layout";}
@model MovieStore.Models.Customer

<div class="container">
    <link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var slider = $('#slider').slider({
                range: "min",
                min: 1,
                max: 7,
                orientation: "horizontal",
            });

        }
        )
    </script>
    <div class="row panel panel-default text-center">
        <div class="col-xs-12 panel-heading">
            <h1>CustomerName's<br />
            <small>Profile Page</small></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <table class="table table-bordered table-responsive table-hover">
                <tr>
                    <td class="col-xs-4">UserID</td>
                    <td class="col-xs-8">@Model.MemberID</td>
                </tr>
                <tr>
                    <td class="col-xs-4">Name</td>
                    <td class="col-xs-8">@Model.Name</td>
                </tr>
                <tr>
                    <td class="col-xs-4">Email Address</td>
                    <td class="col-xs-8">@Model.Email</td>
                </tr>
                <tr>
                    <td class="col-xs-4">Phone Number</td>
                    <td class="col-xs-8">@Model.PhoneNo</td>
                </tr>
            </table>
            <table class="table table-bordered table-responsive table-hover">
                <tr class="row">
                    <th class="col-xs-6">Movie Name</th>
                    <th class="col-xs-2">Rental Extension</th>
                    <th class="col-xs-4">
                        <span id="spnOutput"></span>
                        <div id="slider"></div>
                    </th>
                </tr>
            </table>
        </div>
    </div>
</div>